<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= geracao %></title>
    <link rel="stylesheet" href="/css/div.css">
</head>
<body>
    <section>
        <% for( let i = 0; i < count; i++ ) { %>
            <div class="<%= pokemon[i].type %>">
                <img src="<%= pokemon[i].img %>">
                <h2><%= pokemon[i].name %></h2>
                <p><%= pokemon[i].type[0]%>
                    <% if (pokemon[i].secondType == true) {%>
                    <%=", " + pokemon[i].type[1]%>
                    <% } %></p>
            </div>
        <% } %>
    </section>
</body>
</html>