<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= geracao %></title>
    <link rel="stylesheet" href="/css/divPoke.css">
    <link rel="stylesheet" href="/css/text.css">
</head>
<body>
    <section class="section-Gen">
        <% for( let i = 0; i < count; i++ ) { %>
            <div class="<%= pokemon[i].type[0] %>">
                <a href="../pokemon/<%= i+1 %>">
                    <img src="<%= pokemon[i].img %>">
                    <div class="pokeDiv">
                        <h2><%= pokemon[i].name %></h2>
                        <section class="section-Type">
                            <div class="<%= pokemon[i].type[0] %>"><%= pokemon[i].type[0]%></div>
                            <% if (pokemon[i].secondType == true) {%>
                            <div class="<%= pokemon[i].type[1] %>"><%= pokemon[i].type[1]%></div>
                            <% } %>
                        </section>
                    </div>
                </a>
            </div>
        <% } %>
    </section>
</body>
</html>